@charset "UTF-8";
/**
* 最小のサイズを渡すと、clampを返す関数
* 推奨値と最大値を設定することもできる
* 推奨値や最大値が設定されたときには、そちらが優先される
* 最大値が設定されていた場合、推奨値は最大値に合わせる
*/
/*========================================*/
/*  Color
/*========================================*/
:root {
  --color-main: #002896;
  --color-secondary: #dbe4ff;
  --color-accent-light: #f8faff;
  --color-accent-dark: #bf0000;
  --color-background: #f7f7f7;
  --color-border: #dedede;
  --color-side-border: #ededed;
  --color-white: #fff;
  --color-black: #09090c;
  --color-gray: #aaa;
}

:root {
  --font-gothic: "Noto Sans JP", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --font-en-decoration: "Poppins", sans-serif;
}

:root {
  --header-height-sp: 3.75rem;
  --header-height-pc: 8rem;
  --header-height-pc-tight: 4.5rem;
  --conversion-height-sp: 3.75rem;
}

body {
  font-feature-settings: "pkna";
  color: var(--color-black);
  font-size: 0.9375rem;
  line-height: 2;
  font-family: var(--font-gothic);
  letter-spacing: 0.03em;
}
body::after {
  display: block;
  height: var(--conversion-height-sp);
  content: "";
}
@media print, screen and (min-width: 960px) {
  body::after {
    display: none;
  }
}
@media print, screen and (min-width: 960px) {
  body {
    font-size: 1rem;
  }
}

a {
  color: var(--color-main);
}

pre {
  font-family: inherit;
}

[lang=en] {
  font-family: var(--font-en-decoration);
}

.main {
  margin-bottom: 5rem;
}
@media print, screen and (min-width: 960px) {
  .main {
    margin-bottom: 10rem;
  }
}

.main::before {
  display: block;
  height: var(--header-height-sp);
  content: "";
}
@media print, screen and (min-width: 960px) {
  .main::before {
    height: var(--header-height-pc);
  }
}

.contactWrap {
  background: rgba(0, 40, 150, 0.8) url("/assets/images/bg_contact_sp.jpg") no-repeat center bottom/cover;
  color: var(--color-white);
}
@media print, screen and (min-width: 960px) {
  .contactWrap {
    background-image: url("/assets/images/bg_contact_pc.jpg");
  }
}

.contact {
  margin-right: auto;
  margin-left: auto;
  padding: 3rem 1rem;
}
@media print, screen and (min-width: 960px) {
  .contact {
    -moz-column-gap: min(2.96875vw, 2.375rem);
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr auto auto;
    grid-template-areas: "header btnA btnB" "tel btnA btnB" "tel btnC btnC";
    column-gap: min(2.96875vw, 2.375rem);
    row-gap: min(2.34375vw, 1.875rem);
    padding: min(8.59375vw, 6.875rem) 0;
    width: min(93.75vw, 75rem);
  }
}

@media print, screen and (min-width: 960px) {
  .contact_header {
    display: flex;
    row-gap: 0.5rem;
    grid-area: header;
    flex-wrap: wrap;
    align-items: center;
  }
}

.contact_heading {
  position: relative;
  padding-left: 1.625rem;
  color: var(--color-white);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.1;
  letter-spacing: 0.06em;
}
@media print, screen and (min-width: 960px) {
  .contact_heading {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin-top: -0.1875rem;
    font-size: 1.25rem;
  }
  .contact_heading::after {
    display: block;
    transform: translateY(0.125rem);
    margin-right: 1.25rem;
    margin-left: 1.875rem;
    background-color: var(--color-border);
    width: 4.375rem;
    height: 1px;
    content: "";
  }
  .contact_heading > * {
    flex-shrink: 0;
  }
}
.contact_heading::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-0.125rem);
  background-color: var(--color-white);
  width: 4px;
  height: 1.75rem;
  content: "";
}
@media print, screen and (min-width: 960px) {
  .contact_heading::before {
    transform: translateY(-0.0625rem);
    height: 1.9375rem;
  }
}
.contact_heading[lang=en] {
  font-size: 1.5625rem;
}
@media print, screen and (min-width: 960px) {
  .contact_heading[lang=en] {
    font-size: 1.8125rem;
  }
}
.contact_heading + * {
  margin-top: 2.375rem;
}

.contact_lead {
  font-size: 1rem;
  line-height: 1.8125;
}
@media print, screen and (min-width: 960px) {
  .contact_lead {
    flex-shrink: 0;
    transform: translateY(-2);
    margin-top: 0;
  }
}

.contact_tel {
  margin-top: 2.375rem;
  line-height: 1;
}
@media print, screen and (min-width: 960px) {
  .contact_tel {
    grid-area: tel;
    margin-top: 0.875rem;
    margin-left: min(2.03125vw, 1.625rem);
  }
}
.contact_tel dt {
  font-weight: 700;
  font-size: 0.8125rem;
}
@media print, screen and (min-width: 960px) {
  .contact_tel dt {
    font-size: 0.875rem;
  }
}
.contact_tel dd {
  margin-top: 0.625rem;
  font-size: 1.4375rem;
}
@media print, screen and (min-width: 960px) {
  .contact_tel dd {
    margin-top: 1rem;
    font-size: 1.875rem;
  }
}
@media print, screen and (min-width: 960px) {
  .contact_tel dd span {
    display: block;
  }
}
.contact_tel dd span:nth-child(1) {
  font-family: var(--font-en-decoration);
}
.contact_tel dd span:nth-child(2) {
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 0.625rem;
}
@media print, screen and (min-width: 960px) {
  .contact_tel dd span:nth-child(2) {
    margin-top: 0.625rem;
    margin-left: 0;
    font-size: 1.0625rem;
  }
}

.contact_button {
  display: flex;
  align-items: center;
  gap: 1.125rem;
  background-color: var(--color-white);
  padding: 1.125rem;
  min-height: 5.625rem;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.4;
  letter-spacing: 0.06em;
}
@media print, screen and (min-width: 960px) {
  .contact_button {
    display: block;
    padding: min(2.34375vw, 1.875rem) min(3.125vw, 2.5rem) min(2.03125vw, 1.625rem);
    width: min(26.328125vw, 21.0625rem);
    font-size: 1.0625rem;
    line-height: 1.35;
    text-align: center;
  }
}
.contact_button img {
  -webkit-clip-path: circle(50%);
  flex-shrink: 0;
  clip-path: circle(50%);
  width: 3.5rem;
  height: 3.5rem;
}
@media print, screen and (min-width: 960px) {
  .contact_button img {
    display: block;
    margin: 0 autorem(12);
    width: 4.6875rem;
    height: 4.6875rem;
  }
}
.contact_button span {
  display: inline-block;
}
:where(.contact_button).-ghost {
  justify-content: center;
  transition: 0.2s ease;
  border: 1px solid var(--color-white);
  background-color: transparent;
  height: 7.0625rem;
  color: var(--color-white);
  text-align: center;
}
.contact_button:nth-of-type(1) {
  margin-top: 0.9375rem;
}
@media print, screen and (min-width: 960px) {
  .contact_button:nth-of-type(1) {
    grid-area: btnA;
    margin-top: 0;
  }
}
.contact_button:nth-of-type(2) {
  margin-top: 0.75rem;
}
@media print, screen and (min-width: 960px) {
  .contact_button:nth-of-type(2) {
    grid-area: btnB;
    margin-top: 0;
  }
}
.contact_button:nth-of-type(3) {
  margin-top: 1.75rem;
}
@media print, screen and (min-width: 960px) {
  .contact_button:nth-of-type(3) {
    grid-area: btnC;
    margin-top: 0;
    padding-top: 1.4375rem;
    padding-bottom: 1.4375rem;
    width: 100%;
    height: auto;
  }
}
@media print, screen and (min-width: 960px){
  .contact_header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .contact_tel {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
  .contact_button:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
  }
  .contact_button:nth-of-type(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 5;
  }
  .contact_button:nth-of-type(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }
}
.contact_button:hover .contact_button_textArea {
  background-size: 100% 1px;
}
.contact_button:hover.-ghost {
  background-color: var(--color-white);
  color: var(--color-main);
}

.contact_button_textArea {
  display: inline;
  transition: background-size 0.4s ease;
  background-image: linear-gradient(90deg, var(--color-main), var(--color-main));
  background-position: left bottom;
  background-size: 0 1px;
  background-repeat: no-repeat;
}

.contact_button_dl dt {
  font-weight: 700;
}
.contact_button_dl dd {
  margin-top: 0.3125rem;
  font-size: 0.6875rem;
  line-height: 1.36;
}
@media print, screen and (min-width: 960px) {
  .contact_button_dl dd {
    margin-top: 0.375rem;
    font-size: 0.875rem;
  }
}
.contact_button_dl dd span {
  display: block;
}
@media print, screen and (min-width: 960px) {
  .contact_button_dl dd span {
    display: inline-block;
  }
}

.footer {
  line-height: 1.7;
}
@media print, screen and (min-width: 960px) {
  .footer {
    line-height: 1.7;
  }
}
.footer .c-icon-arrow {
  width: 1rem;
  height: 0.625rem;
}
@media print, screen and (min-width: 600px) {
  .footer .c-icon-arrow {
    display: none;
  }
}
.footer .c-icon-arrow::after {
  transform: translate(7px, 1px) rotate(135deg);
  width: 0.5rem;
  height: 0.5rem;
}
@media print, screen and (min-width: 600px) {
  .footer .t-hiddenPc {
    display: none;
  }
}

.footerGridWrap {
  background-color: var(--color-accent-light);
}
@media print, screen and (min-width: 600px) {
  .footerGridWrap {
    padding-top: 7.5rem;
  }
}

.footerGrid {
  padding: 0rem 20 1.875rem;
}
@media print, screen and (min-width: 600px) {
  .footerGrid {
    -moz-column-gap: min(5vw, 4rem);
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 13.125rem 1fr;
    grid-template-areas: "logo nav" "flinks flinks";
    column-gap: min(5vw, 4rem);
    margin-right: auto;
    margin-left: auto;
    padding: 0 0rem 50;
    width: min(93.75vw, 75rem);
  }
}

@media print, screen and (min-width: 600px) {
  .footerGrid_item:nth-child(1) {
    grid-area: logo;
    margin-bottom: 2.5rem;
  }
}
@media print, screen and (min-width: 600px) {
  .footerGrid_item:nth-child(2) {
    grid-area: nav;
    margin-bottom: 2.5rem;
  }
}
@media print, screen and (min-width: 600px) {
  .footerGrid_item:nth-child(3) {
    grid-area: flinks;
    border-top: 1px solid var(--color-border);
  }
}
@media print, screen and (min-width: 600px){
  .footerGrid_item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footerGrid_item:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .footerGrid_item:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}

.footerLogo {
  border-bottom: 1px solid var(--color-border);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}
@media print, screen and (min-width: 600px) {
  .footerLogo {
    padding-top: 0;
    text-align: left;
  }
}
.footerLogo img {
  width: 9.6875rem;
}

.footerSocialLinks {
  margin-top: 1.6875rem;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1;
}
@media print, screen and (min-width: 960px) {
  .footerSocialLinks {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 1.5rem;
    font-weight: 400;
  }
}
.footerSocialLinks a {
  display: inline-flex;
  align-items: center;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  color: var(--color-black);
}
.footerSocialLinks a[href*=twitter] img {
  margin-right: 0.875rem;
}
.footerSocialLinks a[href*=facebook] img {
  margin-right: 1.125rem;
  margin-left: 0.25rem;
}

.footerBadges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.875rem;
  background-color: var(--color-white);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media print, screen and (min-width: 960px) {
  .footerBadges {
    justify-content: flex-start;
    padding-left: 2.1875rem;
  }
}

.footerNavigations {
  margin-top: 1.5rem;
  border-top: 1px solid var(--color-border);
}
@media print, screen and (min-width: 600px) {
  .footerNavigations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    justify-content: end;
    gap: min(3.75vw, 3rem) min(4.6875vw, 3.75rem);
    margin-top: 0;
    border-top: none;
  }
}
@media print, screen and (min-width: 960px) {
  .footerNavigations {
    display: flex;
    justify-content: flex-end;
  }
}

@media print, screen and (min-width: 960px) {
  .footerNavigation:nth-child(1) {
    margin-right: min(1.875vw, 1.5rem);
  }
}

@media print, screen and (min-width: 600px) {
  .footerNavigation_list {
    font-size: 0.8125rem;
  }
}
.footerNavigation_list li {
  display: block;
}
@media print, screen and (min-width: 960px) {
  .footerNavigation_list li:not(:first-child) {
    margin-top: 0.625rem;
  }
}
.footerNavigation_list a {
  color: inherit;
}
@media print, screen and (min-width: 960px) {
  .footerNavigation_list a {
    color: #444;
  }
}
.footerNavigation_list:not(.-allShow) {
  display: none;
}
@media print, screen and (min-width: 600px) {
  .footerNavigation_list:not(.-allShow) {
    display: block;
    margin-top: 1.25rem;
  }
}

.footerNavigation_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  min-height: 3.875rem;
  color: inherit;
  font-weight: 500;
  font-size: 0.875rem;
}
@media print, screen and (min-width: 600px) {
  .footerNavigation_link {
    display: inline;
    border-bottom: none;
    min-height: 0;
    font-weight: 400;
    font-size: 0.9375rem;
  }
}
.footerNavigation_link.-hiddenSp {
  display: none;
}
@media print, screen and (min-width: 600px) {
  .footerNavigation_link.-hiddenSp {
    display: inline;
  }
}
.footerNavigation_link span {
  color: var(--color-black);
}
@media print, screen and (min-width: 600px) {
  .footerNavigation_link span span {
    display: block;
  }
}
@media print, screen and (min-width: 960px) {
  .footerNavigation_link .c-icon-arrow {
    display: none;
  }
}

.footerNavigation_subList {
  -moz-column-gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
  column-gap: 1.5rem;
  margin-top: 1.25rem;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 1.125rem;
  font-size: 0.8125rem;
}
@media print, screen and (min-width: 600px) {
  .footerNavigation_subList {
    display: block;
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
    font-size: 0.9375rem;
  }
}
@media print, screen and (min-width: 960px) {
  .footerNavigation_subList li {
    margin-top: 0.625rem;
  }
}
.footerNavigation_subList a {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: inherit;
  font-weight: 500;
}
@media print, screen and (min-width: 600px) {
  .footerNavigation_subList a {
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 400;
  }
}

.footerLinks {
  margin-top: 1.125rem;
  font-size: 0.8125rem;
  line-height: 1.7;
}
@media print, screen and (min-width: 600px) {
  .footerLinks {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    margin-top: 2.6875rem;
    font-size: 0.75rem;
  }
}
.footerLinks a {
  display: inline-block;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  color: inherit;
}
@media print, screen and (min-width: 600px) {
  .footerLinks a {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.footerLinks span {
  display: inline-block;
}

.copy {
  margin-top: 1.125rem;
  font-size: 0.625rem;
}
@media print, screen and (min-width: 960px) {
  .copy {
    margin-top: 1.5rem;
    font-size: 0.6875rem;
  }
}
.copy small {
  font-size: 100%;
}

.rakutenGroupLinks {
  padding: 2.5rem 1.25rem;
}
@media print, screen and (min-width: 600px) {
  .rakutenGroupLinks {
    margin-right: auto;
    margin-left: auto;
    padding: 2.5rem 0;
    width: min(93.75vw, 75rem);
  }
}

.rakutenGroupLinks_heading {
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1;
}

.rakutenGroupLink_list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem 1.75rem;
  margin-top: 0.625rem;
  font-size: 0.75rem;
  line-height: 1;
}
.rakutenGroupLink_list a {
  color: #686868;
}

.conversionButtons {
  display: grid;
  position: fixed;
  bottom: 0;
  left: 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
  z-index: 15;
  background-color: #fff;
  width: 100vw;
}
.conversionButtons.-ex {
  grid-template-columns: repeat(3, 1fr);
}
.conversionButtons.-ex #conversionInput {
  cursor: pointer;
  width: 33.333vw;
}
@media print, screen and (min-width: 960px) {
  .conversionButtons.-ex #conversionInput {
    width: 5.25rem;
  }
}
@media print, screen and (min-width: 960px) {
  .conversionButtons {
    display: flex;
    right: 0;
    left: auto;
    flex-direction: column;
    background-color: transparent;
    width: 5.25rem;
  }
}

.conversionButton {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0.3125rem;
  background-color: var(--color-main);
  padding-bottom: 0.625rem;
  height: var(--conversion-height-sp);
  color: var(--color-white);
  font-weight: 700;
  font-size: 0.5625rem;
  line-height: 1;
  text-align: center;
}
@media print, screen and (min-width: 960px) {
  .conversionButton {
    justify-content: center;
    gap: 0.25rem;
    padding-bottom: 0;
    height: 5.25rem;
    font-size: 0.625rem;
  }
}
.conversionButton p {
  position: relative;
}
@media print, screen and (min-width: 960px) {
  .conversionButton p {
    transform: scale(0.9);
  }
}
.conversionButton p::before {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.2s;
  background: #fff;
  width: 0px;
  height: 0.0625rem;
  content: "";
}
.conversionButton .-modifier::before {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.2s;
  background: var(--color-main);
  width: 0px;
  height: 0.0625rem;
  content: "";
}
.conversionButton:hover p::before {
  width: 100%;
}
.conversionButton label {
  display: none;
}
.conversionButton #conversionInput {
  position: absolute;
  bottom: 0;
  opacity: 0;
  width: 50vw;
  height: 3.75rem;
}
@media print, screen and (min-width: 960px) {
  .conversionButton #conversionInput {
    width: 5.25rem;
    height: 5.25rem;
  }
}
.conversionButton #conversionInput[type=checkbox]:checked {
  position: fixed;
  right: 0;
  bottom: -5.3125rem;
  z-index: 25;
  margin: auto;
  width: 100vw;
  height: 100vh;
}
.conversionButton .conversionCheckedBg {
  transition: all 0.3s;
}
.conversionButton #conversionInput[type=checkbox]:checked ~ .conversionCheckedBg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: auto;
  background: rgba(0, 0, 0, 0.23);
  width: 100vw;
  height: 100vh;
}
.conversionButton #conversionInput[type=checkbox]:checked ~ .conversionCheckedBg::before {
  position: absolute;
  right: 0.875rem;
  bottom: 6.875rem;
  background: url("/assets/images/icon_google_search_close.png") center/contain;
  background-repeat: no-repeat;
  width: 3.125rem;
  height: 3.125rem;
  content: "";
}
.conversionButton #conversionInput[type=checkbox]:checked + label {
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 30;
  background: #002896;
  width: 100vw;
  height: 5.25rem;
}
@media print, screen and (min-width: 960px) {
  .conversionButton #conversionInput[type=checkbox]:checked + label {
    right: 0;
    bottom: auto;
    width: 25.5625rem;
  }
}
.conversionButton #conversionInput[type=checkbox]:checked + label > div {
  position: relative;
  height: 5.25rem;
}
.conversionButton #conversionInput[type=checkbox]:checked + label > div .gsc-control-cse {
  position: relative;
  border: none;
  background: var(--color-main);
  padding: 1rem;
  height: 5.25rem;
}
.conversionButton #conversionInput[type=checkbox]:checked + label > div .gsc-input-box {
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  margin: auto;
  border-radius: 0;
  padding: 0;
}
.conversionButton #conversionInput[type=checkbox]:checked + label > div .gsc-input-box::before {
  position: absolute;
  top: 0;
  right: 0.625rem;
  bottom: 0;
  margin: auto;
  background: url("/assets/images/icon_google_serach.png") center/cover;
  background-repeat: no-repeat;
  width: 1.5625rem;
  height: 1.5625rem;
  content: "";
}
.conversionButton #conversionInput[type=checkbox]:checked + label > div .gsc-search-button-v2 {
  position: absolute;
  top: 0;
  right: 1.5rem;
  bottom: 0;
  opacity: 0;
  margin: auto;
  width: 1.875rem;
  height: 1.875rem;
}
.conversionButton #conversionInput[type=checkbox]:checked + label > div table {
  height: 100%;
}
.conversionButton #conversionInput[type=checkbox]:checked + label > div input {
  padding: 0.625rem !important;
  color: #aaa;
  font-weight: 500;
  font-size: 0.75rem;
}
.conversionButton #conversionInput[type=checkbox]:checked + label > div input:focus {
  color: #09090c;
}
.conversionButton #conversionInput[type=checkbox]:checked + label > div #gs_cb51 {
  display: none;
}
.conversionButton #conversionInput[type=checkbox]:checked + label > div .gsst_a .gscb_a {
  display: none;
}
.conversionButton #conversionInput[type=checkbox]:checked + label > div .gsib_a {
  padding: 0;
}
.conversionButton span {
  display: block;
}
.conversionButton[href*=inq] img {
  margin-bottom: 0.375rem;
}
@media print, screen and (min-width: 960px) {
  .conversionButton[href*=inq] img {
    margin-bottom: 0.125rem;
    width: 1.8125rem;
    height: 1.25rem;
  }
}
@media print, screen and (min-width: 960px) {
  .conversionButton[type=button] img {
    width: 1.9375rem;
    height: 1.9375rem;
  }
}
.conversionButton[href*=estimate] {
  background-color: var(--color-secondary);
  padding-bottom: 0.375rem;
  color: var(--color-main);
}
@media print, screen and (min-width: 960px) {
  .conversionButton[href*=estimate] {
    padding-bottom: 0;
  }
}
@media print, screen and (min-width: 960px) {
  .conversionButton[href*=estimate] img {
    width: 1.5rem;
    height: 2.1875rem;
  }
}

#searchresults {
  margin: 0 auto;
  padding: 0rem 10;
  max-width: 62.5rem;
}
@media print, screen and (min-width: 960px) {
  #searchresults {
    padding: 0rem 50;
  }
}

/* ===========================================
*  Foundation
*  ======================================== */
* {
  word-wrap: break-word;
  box-sizing: border-box;
  background-repeat: no-repeat;
  overflow-wrap: break-word;
}

html {
  height: 100%;
  height: -webkit-fill-available;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-weight: 400;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

ol,
ul {
  list-style: none;
}

img {
  vertical-align: bottom;
  image-rendering: -webkit-optimize-contrast;
  max-width: 100%;
  height: auto;
}

select::-ms-expand {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a,
button {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  text-decoration: none;
}

/* ===========================================
*  Vendor
*  ======================================== */
/* ===========================================
*  Libraries
*  ======================================== */
.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
  border-bottom: 1px solid var(--color-side-border);
  background-color: var(--color-white);
  padding-left: 1.25rem;
  width: 100%;
  height: var(--header-height-sp);
  line-height: 1.7;
}
@media print, screen and (min-width: 960px) {
  .header {
    transition: height 0.2s ease;
    padding-left: 2rem;
    height: var(--header-height-pc);
    line-height: 1.7;
  }
}
@media print, screen and (min-width: 960px) {
  .header.-tight {
    height: var(--header-height-pc-tight);
  }
}

.header_logo {
  flex-shrink: 0;
  z-index: 1;
  transition: all 0.2s ease;
  width: 8.375rem;
}
@media print, screen and (min-width: 960px) {
  .header_logo {
    width: clamp(9.5rem, 15.625vw, 12.5rem);
  }
}
@media print, screen and (min-width: 960px) {
  .header.-tight .header_logo {
    width: 9.5rem;
  }
}
.header_logo img {
  transition: all 0.2s ease;
  width: 100%;
}

.header_subNavigation {
  margin-top: 1.125rem;
  font-weight: 500;
  font-size: 0.8125rem;
}
@media print, screen and (min-width: 960px) {
  .header_subNavigation {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    font-size: 0.6875rem;
    font-size: clamp(0.625rem, 0.9375vw, 0.75rem);
  }
}
@media print, screen and (min-width: 960px) {
  .header_subNavigation li:not(:first-child) {
    padding-left: clamp(0.625rem, 1.5625vw, 1.25rem);
  }
}
@media print, screen and (min-width: 960px) {
  .header_subNavigation li:not(:last-child) {
    position: relative;
    padding-right: clamp(0.625rem, 1.5625vw, 1.25rem);
  }
  .header_subNavigation li:not(:last-child)::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--color-border);
    width: 1px;
    height: 0.625rem;
    content: "";
  }
}
.header_subNavigation a {
  display: inline-block;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  color: inherit;
}
.header_subNavigation + .c-button {
  margin-top: 1.5625rem;
  font-size: 0.9375rem;
}
@media print, screen and (min-width: 960px) {
  .header_subNavigation + .c-button {
    margin-top: 0;
    padding: 0rem 16;
    width: 17.5rem;
    min-height: 3rem;
    font-size: 0.75rem;
  }
  .header_subNavigation + .c-button::before {
    content: none;
  }
  .header_subNavigation + .c-button > span:first-child::before {
    @includelineAnimation ();
  }
  .header_subNavigation + .c-button .c-icon-arrow {
    transition: 0.2s ease;
  }
  .header_subNavigation + .c-button:hover > span:first-child::before {
    width: 100%;
  }
  .header_subNavigation + .c-button:hover .c-icon-arrow {
    transform: translateX(0.25rem);
  }
}

@media print, screen and (min-width: 960px) {
  .header_panel {
    display: flex;
    position: relative;
    gap: 5.625rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2.625rem;
    padding-bottom: 2.625rem;
    width: min(93.75vw, 75rem);
  }
}
.header_panel .c-decoration-fourCorners {
  display: none;
}
@media print, screen and (min-width: 960px) {
  .header_panel .c-decoration-fourCorners {
    display: block;
  }
}

.header_panel_headingWrap {
  display: none;
}
@media print, screen and (min-width: 960px) {
  .header_panel_headingWrap {
    display: block;
    flex-basis: 24.25rem;
  }
}
@media print, screen and (min-width: 960px) {
  .header_panel_headingWrap .c-button {
    width: 100%;
    min-height: 4rem;
    font-size: 0.8125rem;
  }
}

.header_panel_heading {
  font-weight: 500;
  font-size: 1.25rem;
}
.header_panel_heading[lang=en] {
  font-weight: 600;
  font-size: 0.75rem;
}
.header_panel_heading + .c-button {
  margin-top: 2.25rem;
}

/* ===========================================
*  Layouts
*  prefix l-
*  ======================================== */
/* ===========================================
*  Modules
*  prefix m-
*  ======================================== */
/* ===========================================
*  Components
*  prefix: c-
*  ======================================== */
/* ===========================================
*  Pages
*  prefix p-
*  ======================================== */
.u-br {
  display: block;
}

.u-ib {
  display: inline-block;
}

.u-hidden {
  display: none;
}

.u-hiddenSp {
  display: none;
}
@media print, screen and (min-width: 960px) {
  .u-hiddenSp {
    display: block;
  }
}

@media print, screen and (min-width: 960px) {
  .u-hiddenPc {
    display: none;
  }
}

.u-jaStringBreakControl span:not([class]) {
  display: inline-block;
}
.u-jaStringBreakControl span.t-jaStringBr-sp {
  display: inline-block;
}
@media print, screen and (min-width: 960px) {
  .u-jaStringBreakControl span.t-jaStringBr-sp {
    display: inline;
  }
}
@media print, screen and (min-width: 960px) {
  .u-jaStringBreakControl span.t-jaStringBr-pc {
    display: inline-block;
  }
}

.u-taL {
  text-align: left !important;
}

.u-taR {
  text-align: right !important;
}

.u-taC {
  text-align: center !important;
}

@media print, screen and (min-width: 600px) {
  .u-taL-pc {
    text-align: left !important;
  }
  .u-taR-pc {
    text-align: right !important;
  }
  .u-taC-pc {
    text-align: center !important;
  }
}
.u-bold {
  font-weight: 600 !important;
}

.u-italic {
  font-style: italic !important;
}

.u-ttU {
  text-transform: uppercase !important;
}

.u-ttL {
  text-transform: lowercase !important;
}

.u-mt0 {
  margin-top: 0 !important;
}

.u-mb0 {
  margin-bottom: 0 !important;
}

.u-pb0 {
  padding-bottom: 0 !important;
}

.u-pt0 {
  padding-top: 0 !important;
}

.u-scrollMarginTight {
  scroll-margin-top: var(--header-height-sp) !important;
}
@media print, screen and (min-width: 960px) {
  .u-scrollMarginTight {
    scroll-margin-top: var(--header-height-pc-tight) !important;
  }
}

.u-scrollMarginWide {
  scroll-margin-top: var(--header-height-sp) !important;
}
@media print, screen and (min-width: 960px) {
  .u-scrollMarginWide {
    scroll-margin-top: calc(var(--header-height-pc-tight) + 3.5rem) !important;
  }
}

/* ===========================================
*  Utilities
*  prefix u-
*  ======================================== */