@charset "UTF-8";
:root {
  --font-gothic: "Noto Sans JP", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --font-gothic: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  --font-en-decoration: "Poppins", sans-serif;
  --color-main: #002896;
  --color-secondary: #dbe4ff;
  --color-accent-light: #f8faff;
  --color-accent-dark: #bf0000;
  --color-background: #f7f7f7;
  --color-border: #dedede;
  --color-side-border: #ededed;
  --color-white: #fff;
  --color-black: #09090c;
  --color-gray: #aaa;
  --header-height-sp: 3.75rem;
  --header-height-pc: 8rem;
  --header-height-pc-tight: 4.5rem;
  --conversion-height-sp: 3.75rem;
}

/**
* 最小のサイズを渡すと、clampを返す関数
* 推奨値と最大値を設定することもできる
* 推奨値や最大値が設定されたときには、そちらが優先される
* 最大値が設定されていた場合、推奨値は最大値に合わせる
*/
body {
  font-feature-settings: "pkna";
  color: var(--color-black);
  font-size: 0.9375rem;
  line-height: 2;
  font-family: var(--font-gothic);
  letter-spacing: 0.03em;
}
body::after {
  display: block;
  height: var(--conversion-height-sp);
  content: "";
}
@media print, screen and (min-width: 960px) {
  body::after {
    display: none;
  }
}
@media print, screen and (min-width: 960px) {
  body {
    font-size: 1rem;
  }
}

a {
  color: var(--color-main);
}

pre {
  font-family: inherit;
}

[lang=en] {
  font-family: var(--font-en-decoration);
}

/* ===========================================
*  Foundation
*  ======================================== */
* {
  word-wrap: break-word;
  box-sizing: border-box;
  background-repeat: no-repeat;
  overflow-wrap: break-word;
}

html {
  height: 100%;
  height: -webkit-fill-available;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-weight: 400;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

ol,
ul {
  list-style: none;
}

img {
  vertical-align: bottom;
  image-rendering: -webkit-optimize-contrast;
  max-width: 100%;
  height: auto;
}

select::-ms-expand {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a,
button {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  text-decoration: none;
}

/* ===========================================
*  Vendor
*  ======================================== */
/* ===========================================
*  Libraries
*  ======================================== */
.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
  border-bottom: 1px solid var(--color-side-border);
  background-color: var(--color-white);
  padding-left: 1.25rem;
  width: 100%;
  height: var(--header-height-sp);
  line-height: 1.7;
}
@media print, screen and (min-width: 960px) {
  .header {
    transition: height 0.2s ease;
    padding-left: 2rem;
    height: var(--header-height-pc);
    line-height: 1.7;
  }
}
@media print, screen and (min-width: 960px) {
  .header.-tight {
    height: var(--header-height-pc-tight);
  }
}

.header_logo {
  flex-shrink: 0;
  z-index: 1;
  transition: all 0.2s ease;
  width: 8.375rem;
}
@media print, screen and (min-width: 960px) {
  .header_logo {
    width: clamp(9.5rem, 15.625vw, 12.5rem);
  }
}
@media print, screen and (min-width: 960px) {
  .header.-tight .header_logo {
    width: 9.5rem;
  }
}
.header_logo img {
  transition: all 0.2s ease;
  width: 100%;
}

.header_subNavigation {
  margin-top: 1.125rem;
  font-weight: 500;
  font-size: 0.8125rem;
}
@media print, screen and (min-width: 960px) {
  .header_subNavigation {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    font-size: 0.6875rem;
    font-size: clamp(0.625rem, 0.9375vw, 0.75rem);
  }
}
@media print, screen and (min-width: 960px) {
  .header_subNavigation li:not(:first-child) {
    padding-left: clamp(0.625rem, 1.5625vw, 1.25rem);
  }
}
@media print, screen and (min-width: 960px) {
  .header_subNavigation li:not(:last-child) {
    position: relative;
    padding-right: clamp(0.625rem, 1.5625vw, 1.25rem);
  }
  .header_subNavigation li:not(:last-child)::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--color-border);
    width: 1px;
    height: 0.625rem;
    content: "";
  }
}
.header_subNavigation a {
  display: inline-block;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  color: inherit;
}
.header_subNavigation + .c-button {
  margin-top: 1.5625rem;
  font-size: 0.9375rem;
}
@media print, screen and (min-width: 960px) {
  .header_subNavigation + .c-button {
    margin-top: 0;
    padding: 0rem 16;
    width: 17.5rem;
    min-height: 3rem;
    font-size: 0.75rem;
  }
  .header_subNavigation + .c-button::before {
    content: none;
  }
  .header_subNavigation + .c-button > span:first-child::before {
    @includelineAnimation ();
  }
  .header_subNavigation + .c-button .c-icon-arrow {
    transition: 0.2s ease;
  }
  .header_subNavigation + .c-button:hover > span:first-child::before {
    width: 100%;
  }
  .header_subNavigation + .c-button:hover .c-icon-arrow {
    transform: translateX(0.25rem);
  }
}

@media print, screen and (min-width: 960px) {
  .header_panel {
    display: flex;
    position: relative;
    gap: 5.625rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2.625rem;
    padding-bottom: 2.625rem;
    width: min(93.75vw, 75rem);
  }
}
.header_panel .c-decoration-fourCorners {
  display: none;
}
@media print, screen and (min-width: 960px) {
  .header_panel .c-decoration-fourCorners {
    display: block;
  }
}

.header_panel_headingWrap {
  display: none;
}
@media print, screen and (min-width: 960px) {
  .header_panel_headingWrap {
    display: block;
    flex-basis: 24.25rem;
  }
}
@media print, screen and (min-width: 960px) {
  .header_panel_headingWrap .c-button {
    width: 100%;
    min-height: 4rem;
    font-size: 0.8125rem;
  }
}

.header_panel_heading {
  font-weight: 500;
  font-size: 1.25rem;
}
.header_panel_heading[lang=en] {
  font-weight: 600;
  font-size: 0.75rem;
}
.header_panel_heading + .c-button {
  margin-top: 2.25rem;
}

/* ===========================================
*  Layouts
*  prefix l-
*  ======================================== */
/* ===========================================
*  Modules
*  prefix m-
*  ======================================== */
/* ===========================================
*  Components
*  prefix: c-
*  ======================================== */
/* ===========================================
*  Pages
*  prefix p-
*  ======================================== */
.u-br {
  display: block;
}

.u-ib {
  display: inline-block;
}

.u-hidden {
  display: none;
}

.u-hiddenSp {
  display: none;
}
@media print, screen and (min-width: 960px) {
  .u-hiddenSp {
    display: block;
  }
}

@media print, screen and (min-width: 960px) {
  .u-hiddenPc {
    display: none;
  }
}

.u-jaStringBreakControl span:not([class]) {
  display: inline-block;
}
.u-jaStringBreakControl span.t-jaStringBr-sp {
  display: inline-block;
}
@media print, screen and (min-width: 960px) {
  .u-jaStringBreakControl span.t-jaStringBr-sp {
    display: inline;
  }
}
@media print, screen and (min-width: 960px) {
  .u-jaStringBreakControl span.t-jaStringBr-pc {
    display: inline-block;
  }
}

.u-taL {
  text-align: left !important;
}

.u-taR {
  text-align: right !important;
}

.u-taC {
  text-align: center !important;
}

@media print, screen and (min-width: 600px) {
  .u-taL-pc {
    text-align: left !important;
  }
  .u-taR-pc {
    text-align: right !important;
  }
  .u-taC-pc {
    text-align: center !important;
  }
}
.u-bold {
  font-weight: 600 !important;
}

.u-italic {
  font-style: italic !important;
}

.u-ttU {
  text-transform: uppercase !important;
}

.u-ttL {
  text-transform: lowercase !important;
}

.u-mt0 {
  margin-top: 0 !important;
}

.u-mb0 {
  margin-bottom: 0 !important;
}

.u-pb0 {
  padding-bottom: 0 !important;
}

.u-pt0 {
  padding-top: 0 !important;
}

.u-scrollMarginTight {
  scroll-margin-top: var(--header-height-sp) !important;
}
@media print, screen and (min-width: 960px) {
  .u-scrollMarginTight {
    scroll-margin-top: var(--header-height-pc-tight) !important;
  }
}

.u-scrollMarginWide {
  scroll-margin-top: var(--header-height-sp) !important;
}
@media print, screen and (min-width: 960px) {
  .u-scrollMarginWide {
    scroll-margin-top: calc(var(--header-height-pc-tight) + 3.5rem) !important;
  }
}

/* ===========================================
*  Utilities
*  prefix u-
*  ======================================== */