- var root_path = "<%= path %>"
- var image_path = "<%= path %>/assets/images"
- var css_path = "<%= path %>/assets/css"
- var js_path = "<%= path %>/assets/js"
- var font_path = "<%= path %>/assets/fonts"
- var break_point = "768"
