@use '../foundation/index' as *;

main {
  p {
    font-size: clamp_rem($min: 14, $max: 18);
  }
}

.p-home-lottie-box {
  padding: 3rem;
  margin: 2rem 0;
  border: 1px solid #ddd;

  &.-flex {
    display: flex;
    gap: clamp_rem($min: 24, $max: 32);
  }
}

.box {
  display: grid;
  place-items: center;
  width: 75px;
  height: 75px;
  background-color: #28a92b;
  border-radius: 12px;
}

.green {
  background-color: #28a92b;
}

.purple {
  background-color: #9b51e0;
}

.orange {
  background-color: #f5a623;
}
