meta(property='og:site_name' content=site.title)
meta(property='article:publisher' content=site.articlePublisher)
meta(property='fb:app_id' content=site.fbAppId)
meta(name='twitter:card' content='summary_large_image')
//- link(rel='shortcut icon' href='')
//- link(rel='apple-touch-icon-precomposed' href='')
include /views/_components/_styles
include /views/_components/_ga_head
