@charset "UTF-8";
:root {
  --font-gothic: "Noto Sans JP", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --font-gothic: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  --font-en-decoration: "Poppins", sans-serif;
  --color-main: #002896;
  --color-secondary: #dbe4ff;
  --color-accent-light: #f8faff;
  --color-accent-dark: #bf0000;
  --color-background: #f7f7f7;
  --color-border: #dedede;
  --color-side-border: #ededed;
  --color-white: #fff;
  --color-black: #09090c;
  --color-gray: #aaa;
  --header-height-sp: 3.75rem;
  --header-height-pc: 8rem;
  --header-height-pc-tight: 4.5rem;
  --conversion-height-sp: 3.75rem;
}

/*
* pxをremに変換する
* $px[Number]: px [ex: 16]
* retune[String]: rem変換した単位 [ex: 1rem]
*/
/*
* pxをvwに変換する
* デフォルトはコンテンツ幅に対してのvw変換
* $px[Number]: px [ex: 683]
* $vw[Number]: コンテンツ幅 [ex: 1366]
* retune[String]: vw変換した単位 [ex: 50vw]
*/
/*
* 100分率に変換する
* $numerator[Number]: 分子 [ex: 300]
* $denominator[Number]: 分母 [ex: 1024]
* retune[Number]:%なしの数字 [ex: 29.296875]
*/
/**
* 0 < $min < $middle < $max
* 最小のサイズを渡すと、clampを返す関数
* 推奨値と最大値を設定することもできる
* 推奨値や最大値が設定されたときには、そちらが優先される
* 最大値が設定されていた場合、推奨値は最大値に合わせる
* 基本的に$middleは0
*/
body {
  font-feature-settings: "pkna";
  margin: unset;
  margin-top: var(--header-height-sp);
  color: var(--color-black);
  font-size: 0.9375rem;
  line-height: 1.5;
  font-family: var(--font-gothic);
  letter-spacing: 0.03em;
}
body::after {
  display: block;
  height: var(--conversion-height-sp);
  content: "";
}
@media print, screen and (min-width: 960px) {
  body::after {
    display: none;
  }
}
@media print, screen and (min-width: 960px) {
  body {
    margin-top: var(--header-height-pc);
    font-size: 1rem;
  }
}

a {
  color: var(--color-main);
}

pre {
  font-family: inherit;
}

[lang=en] {
  font-family: var(--font-en-decoration);
}

/* ===========================================
*  Foundation
*  ======================================== */
* {
  word-wrap: break-word;
  box-sizing: border-box;
  background-repeat: no-repeat;
  overflow-wrap: break-word;
}

html {
  height: 100%;
  height: -webkit-fill-available;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-weight: 400;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

ol,
ul {
  list-style: none;
}

img {
  vertical-align: bottom;
  image-rendering: -webkit-optimize-contrast;
  max-width: 100%;
  height: auto;
}

select::-ms-expand {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a,
button {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  text-decoration: none;
}

/* ===========================================
*  Vendor
*  ======================================== */
/* ===========================================
*  Libraries
*  ======================================== */
.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
  border-bottom: 1px solid var(--color-side-border);
  background-color: var(--color-white);
  padding-left: 1.25rem;
  width: 100%;
  height: var(--header-height-sp);
  line-height: 1.7;
}
@media print, screen and (min-width: 960px) {
  .header {
    transition: height 0.2s ease;
    padding-left: 2rem;
    height: var(--header-height-pc);
    line-height: 1.7;
  }
}
@media print, screen and (min-width: 960px) {
  .header.-tight {
    height: var(--header-height-pc-tight);
  }
}

/* ===========================================
*  Layouts
*  prefix l-
*  ======================================== */
/* ===========================================
*  Modules
*  prefix m-
*  ======================================== */
/* ===========================================
*  Components
*  prefix: c-
*  ======================================== */
/* ===========================================
*  Pages
*  prefix p-
*  ======================================== */
.u-br {
  display: block;
}

.u-ib {
  display: inline-block;
}

.u-hidden {
  display: none;
}

.u-hiddenSp {
  display: none;
}
@media print, screen and (min-width: 960px) {
  .u-hiddenSp {
    display: block;
  }
}

@media print, screen and (min-width: 960px) {
  .u-hiddenPc {
    display: none;
  }
}

.u-taL {
  text-align: left !important;
}

.u-taR {
  text-align: right !important;
}

.u-taC {
  text-align: center !important;
}

@media print, screen and (min-width: 600px) {
  .u-taL-pc {
    text-align: left !important;
  }
  .u-taR-pc {
    text-align: right !important;
  }
  .u-taC-pc {
    text-align: center !important;
  }
}
.u-bold {
  font-weight: 600 !important;
}

.u-italic {
  font-style: italic !important;
}

.u-ttU {
  text-transform: uppercase !important;
}

.u-ttL {
  text-transform: lowercase !important;
}

.u-mt0 {
  margin-top: 0 !important;
}

.u-mb0 {
  margin-bottom: 0 !important;
}

.u-pb0 {
  padding-bottom: 0 !important;
}

.u-pt0 {
  padding-top: 0 !important;
}

.u-scrollMarginTight {
  scroll-margin-top: var(--header-height-sp) !important;
}
@media print, screen and (min-width: 960px) {
  .u-scrollMarginTight {
    scroll-margin-top: var(--header-height-pc-tight) !important;
  }
}

.u-scrollMarginWide {
  scroll-margin-top: var(--header-height-sp) !important;
}
@media print, screen and (min-width: 960px) {
  .u-scrollMarginWide {
    scroll-margin-top: calc(var(--header-height-pc-tight) + 3.5rem) !important;
  }
}

/* ===========================================
*  Utilities
*  prefix u-
*  ======================================== */