extend /views/_layouts/_default

append variable
  - page.title = 'top page dummy';
  - page.description = 'dummy description';
  - page.dir = '/';
  - page.type = 'website';
  - page.appId = "Home";
  - page.bodyClassName = "home";

//- 最初に読み込む画像
block preload
  +preload([
    {"sp":["dummy-pc.jpg","dummy.jpg"]},
  ]
  )



block main
  h1 h1
  +image({
    pc:{
      src: "/example/dummy-pc.jpg",
      width: "800",
      height: "400"
    },
    sp:{
      src: "/example/dummy.jpg",
      width: "375",
      height: "600"
    },
    alt: ""
  })
