extend /views/_layouts/_default

append variable
  - page.title = 'top page dummy';
  - page.description = 'dummy description';
  - page.dir = '/';
  - page.type = 'website';
  - page.appId = "Home";
  - page.bodyClassName = "home";

//- 最初に読み込む画像
block preload
  +preload([
    {"sp":["/dummy-pc.jpg","/dummy.jpg"]},
  ]
  )



block main
  .l-contents
    h1.c-headingLv1 gsap animation
    .l-section
      h2.c-headingLv2 gsap animation timeline sample
      p 直列につなぐ
      .p-home-lottie-box
        .box.green box1
        .box.purple box2
        .box.orange box3
    .l-section
      h2.c-headingLv2 gsap animation timeline sample
      p モーションは直列でつないでいくと台本的な動きになりがちです。滑らかに演出を見せるためには、モーションを重ねることが多いです
      .p-home-lottie-box
        h3.js-section02-heading Show Motion
        .p-home-lottie-box.-flex
          .box.box1.sample02
          .box.box2.sample02
          .box.box3.sample02
          .box.box4.sample02
          .box.box5.sample02
          .box.box6.sample02
    .l-section
      h2.c-headingLv2 gsap animation timeline 入れ子サンプル
      p モーションは直列でつないでいくと台本的な動きになりがちです。滑らかに演出を見せるためには、モーションを重ねることが多いです
      .p-home-lottie-box
        h3.js-section02-heading Show Motion
        .p-home-lottie-box.-flex
          span.p-home-gsap-word
            span.p-home-gsap-rect
            span.label INTERACTION
          span.p-home-gsap-word
            span.p-home-gsap-rect
            span.label DESIGN
          span.p-home-gsap-word
            span.p-home-gsap-rect
            span.label &
          span.p-home-gsap-word
            span.p-home-gsap-rect
            span.label TECHNOLOGY
          span.p-home-gsap-word
            span.p-home-gsap-rect
            span.label by
          span.p-home-gsap-word
            span.p-home-gsap-rect
            span.label TAM.inc
