extend /views/_layouts/_default

append variable
  - page.title = 'top page dummy';
  - page.description = 'dummy description';
  - page.dir = '/';
  - page.type = 'website';
  - page.appId = "Home";
  - page.bodyClassName = "home";

//- 最初に読み込む画像
block preload
  +preload([
    {"sp":["/dummy-pc.jpg","/dummy.jpg"]},
  ]
  )



block main
  .l-section
    h1 lottie animation sample
